* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  touch-action: pan-x pan-y;
}

html,
body {
  margin: 0;
  height: 100%;
}

button,
input,
textarea {
  pointer-events: auto;
}

canvas {
  max-width: 100vw;
}
